<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            {% comment %} {% for task in tasks %}
            <li>
                <p>{{task.task_relation}}</p>
                <span>{{task.priority}}</span>
            </li>
            {% endfor %} {% endcomment %}
        </ul>
            {% comment %} <p>{{task_count}}</p> {% endcomment %}
    </div>
    {% comment %} <div>
        {{tasks}}
    </div> {% endcomment %}
</body>
</html>